<?xml version="1.0"?>
<model>
  <name>Human Actor</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Greenhouse Sim</name>
    <email>user@todo.todo</email>
  </author>

  <description>
    A simple human actor controllable via Twist messages.
  </description>
</model>
